@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Joti+One&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
#bg-video{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    object-fit: cover;
    z-index: -400;
}
#content{
    z-index: 500;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    gap:40px;
    align-items: center;
}
#content > img{
    height: 100vh;
}
#content > div > h1{
    color: #E6E6E0;
    font-size: 5.625rem;
    font-family: "Creepster";
    font-family: 400;
    font-style: normal;
    margin-bottom: 2px;
}
#content > div > div{
    display: flex;
    flex-direction: column;
    gap:4px;
    margin-top: 4px;
}
#overlay{
    background-color: rgba(15,46,30,0.45);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    z-index: -300;
}
nav button{
    background-color: #050505;
    color: #5AFF15;
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 1px #1F5E3B;
    font-size: 0.875rem;
    font-family: "Joti One";
    transition: all 0.3s;
}
#content > div > div > button{
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #5AFF15;
    color: #0B0B0B;
    font-size: 1rem;
    font-family: "Joti One";
    width: 80%;
    transition: all 0.3s;
    border: solid 1px #1F5E3B;
}
#content > div > div > button:hover{
    background-color: #0B0B0B;
    color: #7CFF3A;
}
#content > div > h2{
    color: #E6E6E0;
    font-size: 1.5rem;
    font-family: "Joti One";
    font-family: 400;
    font-style: normal;
    margin:0;
    padding: 0;
}
nav{
    background-color: #0F2E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
}
nav > div{
    display: flex;
    gap:4px;
}
nav > div > h3{
    font-family: "Joti One";
    font-weight: 400;
    font-style: normal;
    color: #E6E6E0;
}
@media (max-width:1200px) {
    body{
        overflow-y: auto;
    }
    #content{
        flex-direction: column;
        gap:0;
        padding: 0;
        height: 85vh;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    #content > img{
        height: 80vw;
        margin: 0;
        max-height: 450px;
        padding: 0;
        min-height: 300px;
    }
    #content > div > h1{
        font-size: 3.375rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #content > div{
        position: relative;
    }
    #content > div > h2{
        font-size: 1.25rem;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
    }
    #content > div > div{
        margin-top: 6px;
        align-items: center;
    }

}